.search-container {
  z-index: 999;
  margin-top: -100px;
  .search-content {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .search-item {
      label {
        font-size: 12px;
        font-weight: 100;
      }

      .search-btn {
        background-color: #5cb85f;
        color: #ffffff;
        text-decoration: none;

        &:hover {
          background-color: #75ca78;
          color: #ffffff;
        }
      }
    }
  }
}
